@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira+Stencil+One&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top right, #B03060, #EED6C4);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: auto;
}

button {
  background-color: #EED6C4;
  color: #B03060;
  padding: 15px 30px;
  border: 2px solid #B03060;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #B03060;
  color: white;
}

/* Style for log in, sign up and reset password */

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form-box {
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;

    h2 {
      color: #2C3E50;
      margin-bottom: 1rem;
    }

    .error {
      color: red;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      input {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        background-color: #EED6C4;
        color: #B03060;
        padding: 15px 30px;
        border: 2px solid #B03060;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:disabled {
          background-color: #ccc;
        }

        &:hover {
          background-color: #B03060;
          color: white;
        }
      }
    }

    .links {
      margin-top: 1rem;

      a {
        color: #b03060;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Style for StartPage */

.start-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
}

.small-logo {
  height: 70px;
  margin: 10px;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #b03060;
}

.menu-button:hover{
  background: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #3C6E47;
  margin: 10px;
}

.menu {
  background-color: #EED6C4;
  border: 1px solid #B03060;
  width: 100px;
  text-align: left;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 4px 8px rgba(218, 79, 79, 0.1);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 8px 0;
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}

.close-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #B03060;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
}

.close-button:hover {
  color: #000;
  background: none;
}

/* UserPage */

.user-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.profile-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  color: #B03060;
  font-size: 14px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2C3E50;
}

#user-name {
  background-color: #EED6C4;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: text;
  font-size: 16px;
  text-align: left;
  border: 2px solid #B03060;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #EED6C4;
  color: #B03060;
  border: 2px solid #B03060;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #B03060;
  color: white;
}

/* Bigger screens */

@media (min-width: 768px) {
  .small-logo {
    height: 100px;
  }

  .menu-button {
    font-size: 2rem;
    margin-right: 20px;
  }

  .menu {
    width: 200px;
  }
}