@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira+Stencil+One&family=Varela+Round&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to top right, #CC5500 80%, #FDF5E6 80%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
}

/** NYTT LANDINGPAGE **/

.landing-page-p {
  font-size: x-large;
}

.button-landing-page {
  background-color: #FDF5E6;
  color: black;
  font-size: 23px;
  padding: 15px 20px;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.button-landing-page:hover {
  background-color: black;
  color: #FDF5E6;
}

/** NYTT LOGINPAGE **/

.h2-loginpage {
  font-family: 'Varela', sans-serif;
  color: #FDF5E6;
  text-decoration-line: underline;
  text-decoration-style: double;
}

/** NY LOGO **/

.logo-header {
  width: 80px;
  height: auto;
  margin: 10px;
}

/**NYTT STARTPAGE **/

.button-start-page {
  background-color: #FDF5E6;
  color: black;
  font-size: 20px;
  padding: 15px 20px;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.button-start-page:hover {
  background-color: black;
  color: #FDF5E6;
}

.start-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #CC5500;
  margin: 10px;
  font-size: 3rem;
}

.menu-button:hover{
  background: none;
  color: #913d01;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.main-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #FDF5E6;
}

.menu {
  background-color: #FDF5E6;
  border: 3px solid #CC5500;
  width: 100px;
  text-align: left;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 4px 8px rgba(218, 79, 79, 0.1);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 8px 0;
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}

.close-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: #CC5500;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -10px;
  margin-top: 10px;
  margin-right: 5px;
}

.close-button:hover {
  color: #913d01;
  background: none;
}

/* Style for log in, sign up and reset password */

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form-box {
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;

    .error {
      color: red;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #000;
      }

      input {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        background-color: #FDF5E6;
        color: black;
        font-size: 20px;
        padding: 10px 15px;
        border: 3px solid black;
        border-radius: 5px;
        cursor: pointer;
        width: 80%;
        transition: background-color 0.3s, color 0.3s;
        margin: 0 auto;

        &:disabled {
          background-color: #ccc;
        }

        &:hover {
          background-color: black;
          color: #FDF5E6;
        }
      }
    }

    .links {
      margin-top: 1rem;

      a {
        color: #FDF5E6;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* NYTT USERPAGE */

.user-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.image-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDF5E6;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  color: #000000;
  font-size: 14px;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

#user-name {
  background-color: #FDF5E6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: text;
  font-size: 16px;
  text-align: left;
  border: 2px solid #000;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.button-user-page {
  background-color: #FDF5E6;
  color: black;
  font-size: 15px;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.button-user-page:hover {
  background-color: black;
  color: #FDF5E6;
}

.file-input-container {
  text-align: center;
  margin-top: 10px;
}

.custom-file-input {
  background-color: #FDF5E6;
  color: black;
  font-size: 15px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.custom-file-input:hover {
  background-color: black;
  color: #FDF5E6;
}

.custom-file-input:active {
  transform: scale(0.95);
}

/* FriendsPage */

.main-content-friends {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
}

.friends-h2 {
  font-family: 'Varela', sans-serif;
  color: black;
  text-decoration-line: underline;
  text-decoration-style: double;
  font-size: 1.5rem;
}

.main-content-friends ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-content-friends p {
  font-size: 1rem;
  margin: 5px 0;
}

input[type="text"], input[type="search"] {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #FDF5E6;
}

input[type="text"]:focus, input[type="search"]:focus {
  outline: none;
  border-color: black;
  background-color: #FFF;
}

button {
  background-color: #FDF5E6;
  color: black;
  font-size: 1rem;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #990033;
  color: #FDF5E6;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%; 
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 60px;
  height: auto;
  margin-right: 15px;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-info {
  font-weight: bold;
  font-size: 1em;
  color: black;
  margin-right: 10px;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  border: 1px solid black;
}

/* Bigger screens */

@media (min-width: 768px) {
  .menu-button {
    font-size: 2rem;
    margin-right: 20px;
  }

  .menu {
    width: 200px;
  }

  .main-content-friends {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
}